In [1]:
#we import pandas library here since it has all database related functions inbuilt to support our operations
import pandas as pd

In [2]:
#we assign salary data file to variable"data" under pandas using function read_csv
data=pd.read_csv("Salary_Data.csv")

In [3]:
#"data" called to show what's inside
data

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
#Spliting the input and output values, Here we assigned input values in the variable "independent"
independent=data[["YearsExperience"]]
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [5]:
#Here we assigned Output values in the variable "dependent"
dependent=data[["Salary"]]

In [6]:
#sklearn is the library which supports machine learning from that we import train_test_split fuction alone to separate 
#traing and test data from original data
#x_train isinput training data
#x_test is test input data
#y_train is output training data
#y_test is output test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [7]:
#from sklearn librarylinearmodel class importing Linearregession function to train with out data(x_train,y_train)
#fit is a method that teaches the model with our corresponding input and output
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [8]:
#we displayed the value of weigh
regressor.coef_

array([[9360.26128619]])

In [9]:
#we displayed the value of bias
regressor.intercept_

array([26777.3913412])

In [10]:
#with the created model "regressor" we predict values by inputing the test data and store it n variable y_pred
y_pred=regressor.predict(x_test)

In [11]:
#importing r2_score evaluation metrics from sklearn to compare predicted value "y_pred" with actual test output "y-test"
#since it is nearer to 1, it is the best model
from sklearn.metrics import r2_score
r2score=r2_score(y_test,y_pred)
r2score

0.9740993407213511

In [12]:
#save the model with library "pickle" in that create a filename
import pickle
filename="finalised_model.sav"

In [15]:
#In the filename, saved our model
pickle.dump(regressor,open(filename,"wb"))

In [17]:
#to check the model, load it using pickle.load function and save it in final_model variable
#using predict method to predict the value and stored it in "result"
final_model=pickle.load(open("finalised_model.sav","rb"))
result=final_model.predict([[10]])

C:\Users\venka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [18]:
#displaying result
result

array([[120380.00420313]])

In [19]:
result=final_model.predict([[15]])

C:\Users\venka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [20]:
result

array([[167181.3106341]])